<!DOCTYPE html>
<html lang="en">
<head>
  <title>FESTLYS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  </style>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#section1">Forside</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section2">Kort info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section3">Info om mig</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section4">Ideer til festen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section5">Udstyr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section6">Priser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section7">Bestilling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section8">Oversigt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#section9">Se bestillinger</a>
      </li>
      <li class="nav-item">
<a class="nav-link" href="#section10">Anmeldelser </a>
</li>
    </ul>
  </div>
</nav>

<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
  <h1><font coler=green><b><u>Forside</u></b></font></h1>
  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
<!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
  </div>
    <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif><img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif><img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif><img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif>
      <div class="carousel-caption">
        <h1><font color=blue>MUSIK</h1>
        <h3>Efter eget ønske</font></h3>
      </div>
    </div>
    <div class="carousel-item">
        <img src = https://24.media.tumblr.com/fecde7d5fdfe01b65d9e52c4d54a0f23/tumblr_mms8753xLC1rj6lsmo1_400.gif  style="width:50%"><img src = https://24.media.tumblr.com/fecde7d5fdfe01b65d9e52c4d54a0f23/tumblr_mms8753xLC1rj6lsmo1_400.gif  style="width:50%">
        <div class="carousel-caption">
        <h1>MUSIK</h1>
        <h3>Og dans, er bevægelse</h3>
      </div> 
    </div>
    <div class="carousel-item">
      <img src=https://i.pinimg.com/originals/1c/a6/dd/1ca6dd4b07ffe7aadc4e89817f5efd5f.gif style="width:50%"><img src=https://i.pinimg.com/originals/1c/a6/dd/1ca6dd4b07ffe7aadc4e89817f5efd5f.gif style="width:50%">
      <div class="carousel-caption">
        
        <h1>LYS</h1>
        <h3>Gør dansen festlig</h3>
        <button type="button" class="btn btn-primary" ><a class="nav-link" href="#section5">Udstyr</a></button>
      </div>  
    </div>
    <div class="carousel-item">
      <img src=https://img1.picmix.com/output/pic/normal/4/8/2/5/6705284_f0dbc.gif style="width:50%"><img src=https://img1.picmix.com/output/pic/normal/4/8/2/5/6705284_f0dbc.gif style="width:50%">
      <div class="carousel-caption">
        <button type="button" class="btn btn-primary" ><a class="nav-link" href="#section7">Bestilling</a></button>
        <h1><b><font color=green>FEST</h1>
        <h3> I inviterer gæsterne</font></b></h3>
      </div>  
    </div>
  </div>
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
  <div class="container-fluid mt-3">
  <h3>FESTLYS</h3>
  <p>Jeg sætter lys op til dans, fest, musik eller andre arrangementer</p>
  </div>
  
   <!-- <h1><b><u><i>VELKOMMEN TIL SIDEN<br><font color=red>'FESTLYS'</font> </b></u></i></h1>
    <div class="row justify-content-center mt-3">

              <h1 style='margin:0;
                            transform: rotate(-40deg);position: relative;'> 
                            <b><font color=blue>MUSIK</font>-
                            <i><font color=green>LYS</font></i>-
                            <u><font color=red>Fest</font></u> 
  </b><img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif><img src=https://i.pinimg.com/originals/12/d4/e4/12d4e43ca7e51a5e44046ccd67d55d44.gif>
                </h1>
            <h3></h3>

            <img src = https://24.media.tumblr.com/fecde7d5fdfe01b65d9e52c4d54a0f23/tumblr_mms8753xLC1rj6lsmo1_400.gif >
          </div>
</div>-->

    <div id="section2" class="container-fluid bg-white text-success" style="padding:100px 20px;">
 <h1><b><u><font color=blue>Kort info</u></b></h1></font><img src=https://data.textstudio.com/output/sample/animated/5/7/3/5/information-19-5375.gif >
      <br>
      <h3>Jeg tilbyder at komme ud og lave lys og evt musik til jeres næste fest.
    </h3>
      <br>
    <h3>I<u> idèer</u> kan i finde inspiration til tema og hvilken fest det skal være til. Der er også inspiration til musikken. Her kan I selv lave playliste, eller jeg gør det udfra jeres ønsker</h3>
      <br>
    <h3><u>Bestilling</u> er til at bestille hvad, hvornår og hvorhenne det skal foregå</h3>
  <br>
  <h3>
     Inden I bestiller kan det være en god idé at se på oversigten, for at få evt. inspiration. <br>Tema, playliste og fest kan blandes som man har lyst.
  </h3>
</div>
  
<div id="section3" class="container-fluid bg-warning" style="padding:100px 20px;">
  <h1><b><u>Info om mig</u></b><img src = https://arenaaabenraa.dk/wp-content/uploads/2022/08/hh.jpg></h1>
    <h3>Jeg er en ung mand, årgang 1999. Født, opvokset og bosiddende i Aabenraa.</h3>
    <h3>I min fritid tager jeg ud og sætter lys op til fester, og har været med til at lave lyd og lys til bl.a. byfester, studentergilder, firma fester m.m.</h3>
  <h2><b><u>Hurtig oversigt</u></b></h2>
   <div class="container mb-5">
  <div class="row justify-content-center mt-1">
    <div class="col-md-12 col-sm-12 p-4">
    <form method="POST">
        {% csrf_token %}
        <div class="pt-5">


            {% for mi in mig  %}
            <div class="row mt-5">

                  <div class="col-md-8 col-sm-12">


                    <div class="d-flex flex-row">
                       <li> 
                         <!--<label class="form-check-label">{{ fes.date }}</label>-->
                        <p class="font-weight-bold pl-5"><b>årstal: </b>{{ mi.årstal }}</p>
                        <p><b>Info: </b>{{ mi.info }}</p>


                      </li>
                    </div>
                </div>
                </div>


            {% endfor %}
        </div>
    </form>
    </div>
  </div>
  </div>
</div>

<div id="section4" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
  <h1><b><u>Idèer til festens tema</u></b></h1>
  <h4>Hvis det er en børnefødselsdag eller bare en fest for børn, kan man sætte et tema op som fx Cowboy og Indianer.</h4>
  <h4>Andre ideer kan være 80'er eller 90'er fest.</h4>
  <h4>Det kan også være at det bare er en rundfødselsdag, bryllup eller et jubilæum</h4>
          <h4>Det kan også være at i skal have en firmafest </h4>
  <h4>eller at en af børnene er blevet student. </h4>
  <h4>I bestemmer selv, der er ingen begrænsninger, kun muligheder</h4>

  <h4></h4>
  <h4><b><u>Idèer til festens musik</u></b></h4>
  <h4></h4>
  <h4>- musik der passer til temaet</h4>
  <p>-- fx pirat fest ved børnene, finder pirat musik, så som Kaptain Sabeltand</p>
  <hr>
  <h4>- musik efter alder</h4>
  <p>-- Det der var oppe i tiden, da vedkommende var ung</p>
  <hr>
  <h4>- bestemt kunstner</h4>
  <p>-- I nævner 2, 3 eller flere musikere der skal være med, og jeg blander evt med et par mere. Der kan også gøres opmærksom på, hvem man ikke vil høre</p>
  <hr>
  <h4>- I laver selv</h4>
  <h4>- Jeg laver udfra ønsker</h4>
  <p>-- Det kan være sommerhits, julemusik eller andet der passer til fest-temaet</p>
  <hr>
  <h4>- det man kalder 'suppe, steg og is musik'</h4>
  <p>-- musik der kører stille og roligt i baggrunden, evt uden sang</p>
  <hr>
  <h4></h4>
</div>

  <div id="section5" class="container-fluid bg-info text-white" style="padding:100px 20px;">
    <h1><b><i><u>Udstyr</u></i></b></h1>
    <h2>Mit set-up består af: </h2
    <img src = https://billeder.dba.dk/dba/863753eb-8ddd-4401-8e73-e444c391f0dc.jpeg?class=S300X300>
    <h3>4 lamper, kabler, stativ, ipad til at kode lyset og styre musikken. Er det ønsket kan jeg også medbringe en røgmaskine</h3>
    <h5>ønskes mere eller andet, bliver prisen højere.</h5>
    <img src = https://billeder.dba.dk/dba/863753eb-8ddd-4401-8e73-e444c391f0dc.jpeg?class=S300X300>
    <h3>Det I skal sørge for er et bord, og alt efter lokalet, nogle forlænger ledninger.</h3>

  </div>

  <div id="section6" class="container-fluid bg-success text-white" style="padding:100px 20px;">
    <h1><b><u><i>Priser</b></u></i></h1>
    <h3>Når I kigger priser skal der indberegnes tid inden og efter til opstilling, klargøring og nedtagning.
    </h3>
    <h3>Er der mere end 5 km indberegnes tillæg pr. km. på 5,00 kr til kørsel</h3>
    <h3>Afstand tager jeg udgangspunkt i Google-maps</h3>

  </div>

  <div id="section7" class="container-fluid bg-danger text-green" style="padding:100px 20px;">
    <h3>Bestilling</h3>
      <h1><i><b><u>Kontakt eller bestil dit lys</u></b></i></h1>
              <h4>Hvis du er blevet interesseret er det vigtigt at jeg får følgende at vide</h4>

      <h4>  - Dato </h4>
      <h4>  - adresse</h4>
      <h4>  - hvilken form for fest det drejer sig om</h4>
              <h4>  - hvilken playliste der er.</h4>
      <h4>Det er vigtigt at udfylde nedenstående så udførligt som muligt, og sende det til mig</h4>

    <div class="container mt-3">
      <h3>Ekstra info</h3>
      <p></p>

      <button type="button" class="btn btn-primary" id="toastbtn">Ekstra info</button>

      <div class="toast">
        <div class="toast-header">
          <strong class="me-auto">Vigtig info</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
          <p><font color=green>For at være sikker, kan I kopiere bestillingen, og sende den til min email.<br>Min email adresse er:<br>
          <b>smsmhilke@gmail.com</b></font></p>
        </div>
      </div>
    </div>

    <script>
    document.getElementById("toastbtn").onclick = function() {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl)
      })
      toastList.forEach(toast => toast.show()) 
    }
    </script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<div class="container mt-3">
  <h2><font color=green>Bestil eller spørg her</h2>
  <p>.</p>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Gå videre
  </button>
</div>
    
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Bestilling og forespørgsel</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <h3>bestil til din næste fest her, eller skriv hvis der er spørgsmål</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="ny forespørgsel...">
        </form>
        <p>.</p>

        <p>.</p> </font>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
</div>
    </div>
  </div>
</div>

    </div>
    
   

  </div>
  <div id="section8" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <h1><b><u>Oversigt</u>   </b><img src = https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH3GH8Y1OuGKl8PJqRepWQpyQbDJ8-5WBbKrAOx6S1RpT2CouTldd_O-M0qbgfnPB4XOk&usqp=CAU></h1>
     <h2><i><b><u>Oversigt over Idèer til festen</u></b></i></h2>
    <h4><font color='red'>Dette er kun til inspiration og kan blandes som man vil</font></h4>
    <table class="table table-striped" border="1">
     <!--<td><a href="update/{{ x.id }}">{{ x.id }}UPDATE</a></td>-->
    <td>{{ x.id }}<u>ID</u></td>
    <td>{{ x.fest }}<u>FEST</u></td>
    <td>{{ x.tema }}<u>Tema</u></td> 
    <td>{{ x.musik }}<u>MUSIK</u></td>
    <td>{{ x.pris }}<u>Pris</u></td> 
    <td>{{ x.korsel }}<u>Kørsel</u></td> 
    {% for x in members %}
    <tr>
    <!--<td><a href="update/{{ x.id }}">{{ x.id }}</a></td>-->
    <td>{{ x.id }}</td>
    <td>{{ x.fest }}</td>
    <td>{{ x.tema }}</td>
    <td>{{ x.musik }}</td>
    <td>{{ x.pris }}</td> 
    <td>{{ x.korsel }}</td> 
    <td><a href="delete/{{ x.id }}"></a></td>
    </tr>
    {% endfor %}
    </table>


    </div>

  <div  id="section9" class="container-fluid bg-dark text-white" style="padding:100px 20px;">
    <h1><b><u>Oversigt over bestillinger</u></b></h1>
    <div class="container mb-2">
          <div class="row justify-content-center mt-2">
           <div class="col-md-11 col-sm-11 p-1">
            <div class="row g-3">


              {% for fes in fest %}
              <div class="col-sm-4">
                <div class="card-header">
                  <div class='card w-30'>
                    <div class="row g-3">
                      <div class="col-md-3">
                        <div class="card" style="width: 20rem;">
                          <div class="col-md-4 col-sm-10">

                          </div> 
                          <div class="card-body">
                            <h5><b><u>Dato: </u></b></h5>
                            <h5 class="card-title">{{fes.dato}}</h5>
                            <h5><b><u>Tid på dagen: </u></b></h5>
                            <h5 class="card-title">{{fes.tid}}
                            <h5><b><u>Adresse: </u></b></h5>
                            <h5 class="card-title">{{fes.adresse}}</h5>
                            <h5><b><u>Navn: </u></b></h5>
                            <h5 class="card-title">{{fes.name}}</h5>
                            <h5><b><u>Kontakt: </u></b></h5>
                            <h5 class="card-title">{{fes.kontakt}}  
                            <h5><b><u>Fest: </u></b></h5>
                            <h5 class="card-title">{{fes.fest}}</h5>
                            <h5><b><u>Playliste: </u></b></h5>
                            <h5 class="card-title">{{fes.playliste}}</h5>
                            <h5><b><u>Optrædende: </u></b></h5>
                            <h5 class="card-title">{{fes.optrædende}}</h5>
                            </h5>
                            <h5><b><u>Er i telt: </u></b></h5>
                            <h5 class="card-title">{{fes.telt}}</h5>
                            </h5>
                            <h5><b><u>Oplysninger: </u></b></h5>
                            <h5 class="card-title">{{fes.oplysninger}}</h5>


                          </div>      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>   
              {% endfor %}

            </div>
          </div>
        </div>
        </div>
    <div  id="section10" class="container-fluid bg-success text-white" style="padding:100px 20px;">
      <h1><b><u>Anmeldelser</u></b></h1>
<h5>Skriv en anmeldelse eller læs de andres her</h5>
      <form action="" method="POST">
            {% csrf_token %}
            {{ form1.as_p }}
            <input type="submit" name="ny anmeldelse...">
      </form>
      <div class="container mb-2">
        <table>
{% for anm in anmeld %}
        <tr>
          <td><p style='margin:0;
          transform: rotate(-25deg);position: relative;'>
          
          <u> <b>Anmeldelse:</b></u> {{ anm.anmeld }}<br>
            <u><b>Navn: </b></u>  {{anm.navn}}
        </p><br><hr></td>
        </tr>
        {% endfor %}
        </table>
      </div>
     </div>
  </div>

  
  
</body>
</html>
